*{
	box-sizing: borderbox;
}

body {
	background-color: Beige;
	background-size: cover;
	background-attachment: fixed;
	background-repeat: no-repeat;
	font-family: georgia, sans-serif;
	color:black;
	font-size:20px;
	line-height: 25 px;
	
}
body h1{
	 text-align:center;
 } 
 body h2{
	 text-align:center;
 }
 .box{
	margin:20px auto;
	padding:50px;
	float:right;
}
.box a{
	color: #ff5050
}
.box img{
	float:left;
	padding-left:30px;
	padding-right:30px;
	padding-bottom:0px;
	padding-top:0px;
}
.box p{
	margin-bottom:83px;
	margin-top:83px;
}
nav:after{
	content:'';
	clear: both;
	display: table;
}
nav ul{
	margin:0;
	padding:30px;
	list-style:none;
	display:flex;
	flex-direction:row;
	flex-wrap: nowrap;
	justify-content:space-evenly;
}
nav ul li a{
	color: #e60000;
	display: block;
	padding: 20px ;
	text-decoration:none;
	text-align:center;
}
nav a:hover{
	padding:15px;
}
footer{
	padding-top:30px;
}

